# Resources required by the sample browser and most samples.
[Essential]
Zip=C:\Ogre\OgreSDK_vc9_v1-9-0\Media\packs\SdkTrays.zip
Zip=C:\Ogre\OgreSDK_vc9_v1-9-0\Media\packs\profiler.zip
FileSystem=C:\Ogre\OgreSDK_vc9_v1-9-0\Media\thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=C:\Ogre\OgreSDK_vc9_v1-9-0\media\materials\programs\GLSL
FileSystem=C:\Ogre\OgreSDK_vc9_v1-9-0\Media\materials\scripts
FileSystem=C:\Ogre\OgreSDK_vc9_v1-9-0\Media\materials\textures

[General]
FileSystem=C:\Ogre\OgreSDK_vc9_v1-9-0\Media

# Materials for visual tests
[Tests]
FileSystem=C:\Ogre\OgreSDK_vc9_v1-9-0\Tests\Media
